<ion-content padding id="reps-create">
<form [formGroup]="exercise_form" (ngSubmit)="submit()">
  <div formArrayName="sets"> 
    <div *ngFor="let set of exercise_form.controls.sets.controls; let i=index;">
      <ion-list [formGroupName]="i">
        <ion-item>Set #{{ i + 1 }} <button *ngIf="exercise_form.controls.sets.controls.length > 1" ion-button round item-end (click)="removeSet()"><ion-icon name="trash"></ion-icon></button></ion-item>
        <ion-item>
          <ion-label>Count</ion-label>
          <ion-input type="number" formControlName="count"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Weight</ion-label>
          <ion-input type="number" formControlName="weight"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col><button ion-button block (click)="addSet()">Add Set</button></ion-col>
    </ion-row>
      <ion-row>
        <ion-col><button ion-button full round (click)="close()">Cancel</button></ion-col>
        <ion-col><button ion-button full round type="submit">Submit</button></ion-col>
      </ion-row>
    </ion-grid>
</form>

  
  
  
</ion-content>
