<ion-content padding id="workout-show" [class.blur]="applyBlur">

  <ion-list>
    <ion-item>{{workout.title}}</ion-item>
    <ion-item>Number of exercises: {{exercises.length}}
      <button ion-button item-end color="approve" (click)="goToExerciseCreatePage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngFor="let exercise of exercises">{{exercise.name}} <ion-icon name="list">{{exercise.setCount}}</ion-icon> <ion-icon name="repeat">{{exercise.repCount}}</ion-icon><button ion-button item-end color="approve" (click)="createSet(exercise)">
        <ion-icon name="add"></ion-icon>
      </button><button *ngIf="exercise.setCount >= 1"ion-button item-end color="primary" (click)="goToRepCreatePage(exercise)">
        <ion-icon name="add"></ion-icon>
      </button></ion-item>
  </ion-list>

</ion-content>
