<ion-header>
  <ion-navbar>
      <ion-title>
          Workouts
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="workout">
  <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content 
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="crescent"
        refreshingText="Getting workouts...">
      </ion-refresher-content>
    </ion-refresher>

  <ion-list class="accordion-list">

    <ion-list-header *ngFor="let workout of workoutList; let i = index" no-lines no-padding>

      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': workout.open, 'section': !workout.open, 'todays_workout': workout.todays}">
        <ion-icon item-right name="arrow-forward" *ngIf="!workout.open"></ion-icon>
        <ion-icon item-right name="arrow-down" *ngIf="workout.open"></ion-icon>
          {{ workout.title }}
      </button>
      <div *ngIf="workout.open && workout.todays">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block clear icon-only (click)="navigateToExerciseCreatePage(workout)">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button block clear icon-only>
                <ion-icon name="undo"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button block clear icon-only (click)="showDeletePromptForWorkout(workout)">
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      

      <ion-list *ngIf="workout.exercises && workout.open" no-lines>
      
        <ion-list-header *ngFor="let exercise of workout.exercises; let j = index" no-padding>
          
          <button ion-item (click)="toggleItem(i, j)" *ngIf="exercise.sets" class="child" detail-none>
            <ion-icon item-left name="add" *ngIf="!exercise.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="exercise.open"></ion-icon>
            {{ exercise.name }}
          </button>

          
 
          <ion-list *ngIf="exercise.open">
            <div *ngIf="workout.todays">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <button ion-button block outline (click)="goToRepCreatePage(workout, exercise)">
                      Add Set
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button block outline (click)="navigateToExerciseEditPage(exercise)">
                      Edit
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button block outline (click)="showDeletePromptForExercise(exercise)">
                      Delete
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            
            <ion-item *ngFor="let set of exercise.sets; let k = index" detail-none class="child-item" text-wrap>
              <h2>Set#{{ k + 1 }}</h2>
              <p text-lowercase>Weight: {{set.weight}}</p>
              <button ion-button outline item-end (click)="navigateToSetEditPage(workout, exercise, set)">Rep count:{{ set.rep_count }}</button>
              <button ion-button clear icon-only item-end (click)="deleteSet(set)"><ion-icon name="trash"></ion-icon></button>
            </ion-item>
          </ion-list>
 
        </ion-list-header>
      </ion-list>
      
    </ion-list-header>
  </ion-list>

</ion-content>

<ion-footer>
    <ion-fab bottom right #fab1>
        <button ion-fab (click)="addWorkout()" color="light"><ion-icon name="add" color="primary"></ion-icon></button>
      </ion-fab>
</ion-footer>
