page-welcome {
#welcome {
    background: $background;
    h1{
        color: color($colors, light);
        font-size: 50px;
        margin-top:50px;
    }
    h2{
        color: color($colors, light);
    }
}

.welcomebutton {
    color: color($colors, secondary);
    margin-top: 60px;
    height: 100px;
    font-size: 35px;
}

}
